<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Passwords</title>
</head>
<body>
    <h1>Saved Passwords</h1>
    <table>
        <thead>
            <tr>
                <th>App or Website</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
            <tr>
                <td>{{ password.app_name }}</td>
                <td>{{ password.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
